{cover_enabled, true}.

{erl_opts, [{platform_define, "R1[6-9]B", 'binary_integer_bifs'}]}.
{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{deps, [
    {elog, ".*", {git, "git://github.com/yunba/elog.git", {branch, "master"}}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{eredis_pool, ".*", {git, "https://github.com/yunba/eredis_pool.git", {branch, "master"}}}
]}.
