[
 %% SASL config
	 {sasl, [
			 {sasl_error_logger, {file, "log/sasl-error.log"}},
			 {errlog_type, error},
			 {error_logger_mf_dir, "log/sasl"},      % Log directory
			 {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
			 {error_logger_mf_maxfiles, 5}           % 5 files max
			]},
	{lager, [
		{lager_console_backend, info},
		{error_logger_redirect, true},
		{crash_log, "log/udon_client_crash.log"},
		{handlers, [
			{lager_file_backend, [
				{file, "log/udon_client_error.log"},
				{level, error},
				{size, 1048576000},
				{date, "$D0"},
				{count, 10}
			]},
			{lager_file_backend, [
				{file, "log/udon_client_info.log"},
				{level, info},
				{size, 1048576000},
				{date, "$D0"},
				{count, 10}
			]},
			{lager_file_backend, [
				{file, "log/udon_client_debug.log"},
				{level, debug},
				{size, 10485760},
				{date, "$D0"},
				{count, 5}
			]}
		]}
	]},
	{eredis_pool, [
		{pools, []},
		{global_or_local, local}
	]},
	{udon_client, [
		{udon_instances, [
			{'udon@abj-redisstat-1', {"abj-redisstat-1.yunba.io", 6380, 10, 20}}, %% {UdonNodeId,{UdonHostName, UdonPort, UdonSize, UdonMaxOverflow}}
			{'udon@abj-redisstat-2', {"abj-redisstat-2.yunba.io", 6380, 10, 20}}
		]}
	]}
].
